<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <!-- Nav Link -->
    <%- include('partials/nav')%>
    <h4>This is About Us</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi
      commodi sed quos. Atque blanditiis non, cumque reprehenderit aliquid
      saepe, iure cupiditate architecto earum quos exercitationem consequuntur
      libero. Repellendus, iure. Repellat!
    </p>
  </body>
</html>
