<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome Ejs</h1>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam esse
      fugit, nobis, nisi praesentium sapiente eos, quisquam consequuntur animi
      voluptate alias quidem architecto omnis corrupti eius saepe placeat
      reprehenderit? Harum?
    </p>

    <!-- Inject data -->
    <%= 40 + 40 %>
    <h4>This is a Number: <%= 50 + 10 %></h4>

    <!-- Writting Javascript -->
    <% console.log('This is from Ejs Hello') %>

    <!-- Loop Through a data -->

    <% [2,3,4,5,6].map(val => {%>
    <p><%= val %></p>
    <% }) %>
  </body>
</html>
